body {
    background-color: rgb(8, 11, 61);
    color: rgb(224, 224, 224);
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation Bar Styling */
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 211, 211, 0.671);
}
nav h2 {
    margin: 25px;
    font-size: 25px;
}
nav button {
    width: 150px;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 10px;
}

nav #darkSwitch {
    display: none;
}

/* Main Styling*/
.main {
    text-align: center;
    margin: 300px 20px 130px 20px;
}

.textbox {
    margin: 20px 20px 50px 20px;
}

.main .textbox input{
    margin: 20px 20px 30px 20px;
    border: none;
    font-size: 30px;
    width: 380px;
    height: 60px;
    border-radius: 10px;
}
.main .textbox button {
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    color: rgb(236, 236, 236);
    background-color: rgb(230, 196, 8);
}

.botReply {
    margin: 0 auto;
}

.footer ul {
    list-style: none;
}
.footer ul li {
    font-size: 45px;
    float: left;
    margin: 0px 20px;
}