body {
    background-color: rgb(8, 11, 61);
    color: rgb(224, 224, 224);
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation Bar Styling */
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 211, 211, 0.671);
}
nav h2 {
    margin: 25px;
    font-size: 25px;
}
nav button {
    width: 150px;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 10px;
}
nav #darkSwitch {
    display: none;
}

/* Main Styling*/
.main {
    text-align: center;
    margin: 300px 20px 130px 20px;
}

.main .generateButton button {
    border: none;
    margin: 30px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: rgb(236, 236, 236);
    background-color: rgb(230, 196, 8);
}

/* Footer Styling*/
.footer ul {
    list-style: none;
}
.footer ul li {
    font-size: 45px;
    float: left;
    margin: 90px 20px 0px 40px;
}